* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0
}

.header, 
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 1rem
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
button {
    background-color: #1a4b7e;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5rem
  }
input {
    width: 70%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}
ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background-color: #f9f9f9;
}


  button:hover {
  background-color: #f9f9f9;
  color: #1a4b7e;
  border: 1px solid  #1a4b7e;
  }  
  span {
    padding: 1rem
  }
  .divider {
    width: 50%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0; 
  }

 /* Responsive design for mobile devices */
@media (max-width: 768px) {
    .container {
      padding: 0.5rem;
    }
  
    input[type="text"] {
      margin-bottom: 0.5rem;
    }
  } 